{% extends "layouts/base.html" %} {% block title %} Analysis {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<!-- percentage progressbar circle -->
<style>
    .set-size {
        font-size: 10em;
    }
    
    .charts-container:after {
        clear: both;
        content: "";
        display: table;
    }
    
    .pie-wrapper {
        height: 1em;
        width: 1em;
        float: left;
        margin: 15px;
        position: relative;
    }
    
    .pie-wrapper:nth-child(3n+1) {
        clear: both;
    }
    
    .pie-wrapper .pie {
        height: 100%;
        width: 100%;
        clip: rect(0, 1em, 1em, 0.5em);
        left: 0;
        position: absolute;
        top: 0;
    }
    
    .pie-wrapper .pie .half-circle {
        height: 100%;
        width: 100%;
        border: 0.1em solid #3498db;
        border-radius: 50%;
        clip: rect(0, 0.5em, 1em, 0);
        left: 0;
        position: absolute;
        top: 0;
    }
    
    .pie-wrapper .label {
        background: #34495e;
        border-radius: 50%;
        bottom: 0.4em;
        color: #ecf0f1;
        cursor: default;
        display: block;
        font-size: 0.25em;
        left: 0.4em;
        line-height: 2.6em;
        position: absolute;
        right: 0.4em;
        text-align: center;
        top: 0.4em;
    }
    
    .pie-wrapper .label .smaller {
        color: #bdc3c7;
        font-size: .45em;
        padding-bottom: 20px;
        vertical-align: super;
    }
    
    .pie-wrapper .shadow {
        height: 100%;
        width: 100%;
        border: 0.1em solid #bdc3c7;
        border-radius: 50%;
    }
    
    .pie-wrapper.style-2 .label {
        background: none;
        color: #7f8c8d;
    }
    
    .pie-wrapper.style-2 .label .smaller {
        color: #bdc3c7;
    }
    
    .pie-wrapper.progress-30 .pie .right-side {
        display: none;
    }
    
    .pie-wrapper.progress-30 .pie .half-circle {
        border-color: #3498db;
    }
    
    .pie-wrapper.progress-30 .pie .left-side {
        transform: rotate(108deg);
    }
    
    .pie-wrapper.progress-60 .pie {
        clip: rect(auto, auto, auto, auto);
    }
    
    .pie-wrapper.progress-60 .pie .right-side {
        transform: rotate(180deg);
    }
    
    .pie-wrapper.progress-60 .pie .half-circle {
        border-color: #9b59b6;
    }
    
    .pie-wrapper.progress-60 .pie .left-side {
        transform: rotate(216deg);
    }
    
    .pie-wrapper.progress-90 .pie {
        clip: rect(auto, auto, auto, auto);
    }
    
    .pie-wrapper.progress-90 .pie .right-side {
        transform: rotate(180deg);
    }
    
    .pie-wrapper.progress-90 .pie .half-circle {
        border-color: #e67e22;
    }
    
    .pie-wrapper.progress-90 .pie .left-side {
        transform: rotate(324deg);
    }
    
    .pie-wrapper.progress-45 .pie .right-side {
        display: none;
    }
    
    .pie-wrapper.progress-45 .pie .half-circle {
        border-color: #3498db;
    }
    
    .pie-wrapper.progress-45 .pie .left-side {
        transform: rotate(162deg);
    }
    
    .pie-wrapper.progress-75 .pie {
        clip: rect(auto, auto, auto, auto);
    }
    
    .pie-wrapper.progress-75 .pie .right-side {
        transform: rotate(180deg);
    }
    
    .pie-wrapper.progress-75 .pie .half-circle {
        border-color: #1abc9c;
    }
    
    .pie-wrapper.progress-75 .pie .left-side {
        transform: rotate(270deg);
    }
    
    .pie-wrapper.progress-95 .pie {
        clip: rect(auto, auto, auto, auto);
    }
    
    .pie-wrapper.progress-95 .pie .right-side {
        transform: rotate(180deg);
    }
    
    .pie-wrapper.progress-95 .pie .half-circle {
        border-color: #8e44ad;
    }
    
    .pie-wrapper.progress-95 .pie .left-side {
        transform: rotate(342deg);
    }
    
    .pie-wrapper--solid {
        border-radius: 50%;
        overflow: hidden;
    }
    
    .pie-wrapper--solid:before {
        border-radius: 0 100% 100% 0%;
        content: '';
        display: block;
        height: 100%;
        margin-left: 50%;
        transform-origin: left;
    }
    
    .pie-wrapper--solid .label {
        background: transparent;
    }
    
    .pie-wrapper--solid.progress-65 {
        background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
    }
    
    .pie-wrapper--solid.progress-65:before {
        background: #e67e22;
        transform: rotate(126deg);
    }
    
    .pie-wrapper--solid.progress-25 {
        background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
    }
    
    .pie-wrapper--solid.progress-25:before {
        background: #34495e;
        transform: rotate(-270deg);
    }
    
    .pie-wrapper--solid.progress-88 {
        background: linear-gradient(to right, #3498db 50%, #34495e 50%);
    }
    
    .pie-wrapper--solid.progress-88:before {
        background: #3498db;
        transform: rotate(43.2deg);
    }
</style>

<!-- Graphs -->
<div class="row">
    <div class="col-lg-4">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Followers</h5>
                <h3 class="card-title"><i class="fab fa-instagram text-primary"></i> {{y[0]}}</h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartLinePurple"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Followers</h5>
                <h3 class="card-title"><i class="fab fa-facebook text-info"></i> 10M</h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="CountryChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Retweets</h5>
                <h3 class="card-title"><i class="fab fa-twitter text-success"></i>Total: 150M</h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartLineGreen"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5 class="card-category">Total</h5>
                        <h2 class="card-title">Performance in 2020</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                            <label class="btn btn-sm btn-primary btn-simple active" id="0">
                <input type="radio" name="options" checked>
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Instagram</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-single-02"></i>
                </span>
              </label>
                            <label class="btn btn-sm btn-primary btn-simple" id="1">
                <input type="radio" class="d-none d-sm-none" name="options">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Facebook</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-gift-2"></i>
                </span>
              </label>
                            <label class="btn btn-sm btn-primary btn-simple" id="2">
                <input type="radio" class="d-none" name="options">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Twitter</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-tap-02"></i>
                </span>
              </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartBig1"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category"><i class="fab fa-instagram text-primary"></i>&nbsp;&nbsp;Instagram</h5>
                <h3 class="card-title"><i class="tim-icons icon-heart-2 text-primary"></i> {{y[0]}}&nbsp;<span class="card-category">likes</span>&nbsp;&nbsp;<i class="tim-icons icon-single-copy-04 text-primary"></i> {{y[1]}}&nbsp;
                    <span class="card-category">posts</span>
                </h3>
            </div>
            <div class="set-size charts-container">
                <div class="pie-wrapper progress-95 style-2">
                    <span class="label">95<span class="smaller">%</span></span>

                    <div class="pie">
                        <div class="left-side half-circle"></div>
                        <div class="right-side half-circle"></div>
                    </div>
                    <div class="shadow"></div>
                </div>
                <p class="yash" style="font-size: 15px;padding: 80px 0px 0px 0px;">engagement</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category"><i class="fab fa-facebook text-info"></i>&nbsp;&nbsp;Facebook</h5>
                <h3 class="card-title"><i class="tim-icons icon-heart-2 text-info"></i> 7,562,526 &nbsp; &nbsp;<i class="fa fa-users text-info" aria-hidden="true"></i>10M</h3>
            </div>
            <div class="set-size charts-container">
                <div class="pie-wrapper progress-45 style-2">
                    <span class="label">45<span class="smaller">%</span></span>

                    <div class="pie">
                        <div class="left-side half-circle"></div>
                        <div class="right-side half-circle"></div>
                    </div>
                    <div class="shadow"></div>
                </div>
                <p class="yash" style="font-size: 15px;padding: 80px 0px 0px 0px;">engagement</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category"><i class="fab fa-twitter text-success"></i>&nbsp;&nbsp;Twitter</h5>
                <h3 class="card-title"><i class="fas fa-retweet text-success"></i> {{tw[2]}} &nbsp; &nbsp;<i class="fa fa-users text-success" aria-hidden="true"></i>{{tw[0]}}</h3>
            </div>
            <div class="set-size charts-container">
                <div class="pie-wrapper progress-75 style-2">
                    <span class="label">75<span class="smaller">%</span></span>

                    <div class="pie">
                        <div class="left-side half-circle"></div>
                        <div class="right-side half-circle"></div>
                    </div>
                    <div class="shadow"></div>
                </div>
                <p class="yash" style="font-size: 15px;padding: 80px 0px 0px 0px;">engagement</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

{% endblock javascripts %}