{% extends "layouts/base.html" %} {% block title %} My Projects {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<!-- <style>
    .set-size {
        font-size: 10em;
    }

    .charts-container:after {
        clear: both;
        content: "";
        display: table;
    }

    .pie-wrapper {
        height: 1em;
        width: 1em;
        float: left;
        margin: 15px;
        position: relative;
    }

    .pie-wrapper:nth-child(3n+1) {
        clear: both;
    }

    .pie-wrapper .pie {
        height: 100%;
        width: 100%;
        clip: rect(0, 1em, 1em, 0.5em);
        left: 0;
        position: absolute;
        top: 0;
    }

    .pie-wrapper .pie .half-circle {
        height: 100%;
        width: 100%;
        border: 0.1em solid #3498db;
        border-radius: 50%;
        clip: rect(0, 0.5em, 1em, 0);
        left: 0;
        position: absolute;
        top: 0;
    }

    .pie-wrapper .label {
        background: #34495e;
        border-radius: 50%;
        bottom: 0.4em;
        color: #ecf0f1;
        cursor: default;
        display: block;
        font-size: 0.25em;
        left: 0.4em;
        line-height: 2.6em;
        position: absolute;
        right: 0.4em;
        text-align: center;
        top: 0.4em;
    }

    .pie-wrapper .label .smaller {
        color: #bdc3c7;
        font-size: .45em;
        padding-bottom: 20px;
        vertical-align: super;
    }

    .pie-wrapper .shadow {
        height: 100%;
        width: 100%;
        border: 0.1em solid #bdc3c7;
        border-radius: 50%;
    }

    .pie-wrapper.style-2 .label {
        background: none;
        color: #7f8c8d;
    }

    .pie-wrapper.style-2 .label .smaller {
        color: #bdc3c7;
    }

    .pie-wrapper.progress-30 .pie .right-side {
        display: none;
    }

    .pie-wrapper.progress-30 .pie .half-circle {
        border-color: #3498db;
    }

    .pie-wrapper.progress-30 .pie .left-side {
        transform: rotate(108deg);
    }

    .pie-wrapper.progress-60 .pie {
        clip: rect(auto, auto, auto, auto);
    }

    .pie-wrapper.progress-60 .pie .right-side {
        transform: rotate(180deg);
    }

    .pie-wrapper.progress-60 .pie .half-circle {
        border-color: #9b59b6;
    }

    .pie-wrapper.progress-60 .pie .left-side {
        transform: rotate(216deg);
    }

    .pie-wrapper.progress-90 .pie {
        clip: rect(auto, auto, auto, auto);
    }

    .pie-wrapper.progress-90 .pie .right-side {
        transform: rotate(180deg);
    }

    .pie-wrapper.progress-90 .pie .half-circle {
        border-color: #e67e22;
    }

    .pie-wrapper.progress-90 .pie .left-side {
        transform: rotate(324deg);
    }

    .pie-wrapper.progress-45 .pie .right-side {
        display: none;
    }

    .pie-wrapper.progress-45 .pie .half-circle {
        border-color: #1abc9c;
    }

    .pie-wrapper.progress-45 .pie .left-side {
        transform: rotate(162deg);
    }

    .pie-wrapper.progress-75 .pie {
        clip: rect(auto, auto, auto, auto);
    }

    .pie-wrapper.progress-75 .pie .right-side {
        transform: rotate(180deg);
    }

    .pie-wrapper.progress-75 .pie .half-circle {
        border-color: #8e44ad;
    }

    .pie-wrapper.progress-75 .pie .left-side {
        transform: rotate(270deg);
    }

    .pie-wrapper.progress-95 .pie {
        clip: rect(auto, auto, auto, auto);
    }

    .pie-wrapper.progress-95 .pie .right-side {
        transform: rotate(180deg);
    }

    .pie-wrapper.progress-95 .pie .half-circle {
        border-color: #e74c3c;
    }

    .pie-wrapper.progress-95 .pie .left-side {
        transform: rotate(342deg);
    }

    .pie-wrapper--solid {
        border-radius: 50%;
        overflow: hidden;
    }

    .pie-wrapper--solid:before {
        border-radius: 0 100% 100% 0%;
        content: '';
        display: block;
        height: 100%;
        margin-left: 50%;
        transform-origin: left;
    }

    .pie-wrapper--solid .label {
        background: transparent;
    }

    .pie-wrapper--solid.progress-65 {
        background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
    }

    .pie-wrapper--solid.progress-65:before {
        background: #e67e22;
        transform: rotate(126deg);
    }

    .pie-wrapper--solid.progress-25 {
        background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
    }

    .pie-wrapper--solid.progress-25:before {
        background: #34495e;
        transform: rotate(-270deg);
    }

    .pie-wrapper--solid.progress-88 {
        background: linear-gradient(to right, #3498db 50%, #34495e 50%);
    }

    .pie-wrapper--solid.progress-88:before {
        background: #3498db;
        transform: rotate(43.2deg);
    }
</style> -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
    .wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .wrapper .card {
        height: 300px;
        border-radius: 5px;
        display: flex;
        align-items: left;
        padding-left: 100px;
        justify-content: space-evenly;
        flex-direction: column;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    }
    
    .wrapper .card .circle {
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        cursor: default;
    }
    
    .card .circle .box,
    .card .circle .box span {
        position: absolute;
        top: 50%;
        left: 50%;
    }
    
    .card .circle .box {
        height: 100%;
        width: 100%;
        background: #fff;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0.8);
        transition: all 0.2s;
    }
    
    .card .circle:hover .box {
        transform: translate(-50%, -50%) scale(0.91);
    }
    
    .card .circle .box span,
    .wrapper .card .text {
        background: -webkit-linear-gradient(left, #a445b2, #fa4299);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .circle .box span {
        font-size: 38px;
        font-family: sans-serif;
        font-weight: 600;
        transform: translate(-45%, -45%);
        transition: all 0.1s;
    }
    
    .card .circle:hover .box span {
        transform: translate(-45%, -45%) scale(1.09);
    }
    
    .card .text {
        font-size: 20px;
        font-weight: 600;
    }
    
    @media(max-width: 753px) {
        .wrapper {
            max-width: 700px;
        }
        .wrapper .card {
            width: calc(50% - 20px);
            margin-bottom: 20px;
        }
    }
    
    @media(max-width: 505px) {
        .wrapper {
            max-width: 500px;
        }
        .wrapper .card {
            width: 100%;
        }
    }
</style>
<!-- check_box progress_bar -->
<style>
    .container {
        max-width: 70rem;
        margin: 1rem auto;
    }
    
    .container input[type="checkbox"]:checked~.progress_bar {
        padding-right: 80%;
    }
    
    .container input[type="checkbox"]:checked~.progress_bar>.progress_inner {
        background-color: red;
    }
    
    .container input[type="checkbox"]:checked~.progress_bar>.progress_inner:after {
        content: "20% - get out of my house !";
    }
    
    .container input[type="checkbox"]:checked~input[type="checkbox"]:checked~.progress_bar {
        padding-right: 60%;
    }
    
    .container input[type="checkbox"]:checked~input[type="checkbox"]:checked~.progress_bar>.progress_inner {
        background-color: orange;
    }
    
    .container input[type="checkbox"]:checked~input[type="checkbox"]:checked~.progress_bar>.progress_inner:after {
        content: "40% - you can do better !";
    }
    
    .container input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~.progress_bar {
        padding-right: 40%;
    }
    
    .container input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~.progress_bar>.progress_inner {
        background-color: yellow;
    }
    
    .container input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~.progress_bar>.progress_inner:after {
        content: "60% - 60% does not work every time !";
    }
    
    .container input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~.progress_bar {
        padding-right: 20%;
    }
    
    .container input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~.progress_bar>.progress_inner {
        background-color: lightgreen;
    }
    
    .container input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~.progress_bar>.progress_inner:after {
        content: "80% - better than my password, probably !";
    }
    
    .container input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~.progress_bar {
        padding-right: 0;
    }
    
    .container input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~.progress_bar>.progress_inner {
        background-color: lightblue;
    }
    
    .container input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~input[type="checkbox"]:checked~.progress_bar>.progress_inner:after {
        content: "100% - Super Secure, Champ !";
    }
    
    .progress_bar {
        border: 1px solid black;
        height: 2rem;
        text-align: center;
        font-size: 1rem;
        line-height: 2rem;
        padding-right: 100%;
        overflow: hidden;
        transition: padding-right 0.5s ease;
    }
    
    .progress_bar .progress_inner {
        content: "";
        transition: background-color 0.6s linear;
    }
    
    input[type="checkbox"] {
        height: 2rem;
        width: 2rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }
    
    input[type="checkbox"]+label {
        font-size: 2rem;
        line-height: 2rem;
        cursor: pointer;
        vertical-align: top;
    }
    
    p,
    h4 {
        margin: 0.5rem 0;
    }
</style>

<div class="row">
    <div class="wrapper">
        <div class="card">
            <p class="text">Project name: Parents teacher meeting</p>
            <div class="container">

                <!-- 	relevant code starts hur -->
                <input type="checkbox" id="check_box_01" name="check_box_01" value="1">
                <label for="check_box_01">Fund reimbursement.</label><br>

                <input type="checkbox" id="check_box_02" name="check_box_02" value="2">
                <label for="check_box_02">Invoices.</label><br>

                <input type="checkbox" id="check_box_03" name="check_box_03" value="3">
                <label for="check_box_03">Publicity.</label><br>

                <input type="checkbox" id="check_box_04" name="check_box_04" value="4">
                <label for="check_box_04">Engagement.</label><br>

                <input type="checkbox" id="check_box_05" name="check_box_05" value="5">
                <label for="check_box_05">Live</label><br>
                <div class="progress_bar">
                    <div class="progress_inner"></div>
                </div>
            </div>
        </div>
        <div class="card js">
            <div class="circle">
                <div class="bar"></div>
                <div class="box"><span></span></div>
            </div>
            <div class="text">Project name: Ghar ghar ki kahani</div>
            <button type="button" class="btn btn-success" style="width: 225px; margin-left: -35px;">Continue</button>
        </div>
        <div class="card react">
            <div class="circle">
                <div class="bar"></div>
                <div class="box"><span></span></div>
            </div>
            <div class="text">Project name: OTP the lottery: Chapter 1</div>
            <button type="button" class="btn btn-success" style="width: 225px; margin-left: -35px;">Continue</button>
        </div>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js"></script>
    <script>
        let options = {
            startAngle: -1.55,
            size: 150,
            value: 0.85,
            fill: {
                gradient: ['#a445b2', '#fa4299']
            }
        }
        $(".circle .bar").circleProgress(options).on('circle-animation-progress',
            function(event, progress, stepValue) {
                $(this).parent().find("span").text(String(stepValue.toFixed(2).substr(2)) + "%");
            });
        $(".js .bar").circleProgress({
            value: 0.70
        });
        $(".react .bar").circleProgress({
            value: 0.60
        });
    </script>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}